span {
  color: rgb(255, 174, 0);
}

.nav-link {
  color: black;
}
.card {
  position: relative;
}
.ofert {
  position: absolute;
  top: 20px;
  right: -20px;
}
main {
  position: relative;
}
.barre {
  position: absolute;
  bottom: -20px;
  left: 25%;
}
footer {
  background-color: rgba(27, 26, 26, 0.877);
}
